# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
.env

# Docker
# 忽略由docker-compose生成的config.json文件，这是包含密钥的敏感文件！
backend/app/config.json

# Node.js / Vite
node_modules/
dist/
.svelte-kit/
build/
.DS_Store

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
